<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>person</th>
      <th>is</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>1</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>2</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>3</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>4</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>5</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>6</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>7</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>8</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>9</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>10</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>11</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>12</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>13</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>14</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>15</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>16</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>17</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>18</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>19</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>20</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>21</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>22</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>23</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>24</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>25</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>26</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>27</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>28</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>29</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>30</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>31</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>32</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>33</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>34</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>35</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>36</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>37</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>38</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>39</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>40</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>41</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>42</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>43</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>44</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>45</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>46</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>47</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>48</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>49</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>50</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>51</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>52</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>53</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>54</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>55</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>56</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>57</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>58</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>59</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>60</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>61</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>62</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>63</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>64</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>65</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>66</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>67</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>68</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>69</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>70</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>71</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>72</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>73</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>74</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>75</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>76</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>77</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>78</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>79</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>80</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>81</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>82</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>83</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>84</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>85</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>86</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>87</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>88</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>89</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>90</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>91</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>92</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>93</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>94</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>95</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>96</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>97</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>98</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>99</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>100</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>101</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>102</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>103</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>104</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>105</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>106</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>107</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>108</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>109</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>110</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>111</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>112</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>113</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>114</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>115</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>116</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>117</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>118</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>119</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>120</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>121</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>122</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>123</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>124</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>125</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>126</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>127</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>128</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>129</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>130</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>131</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>132</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>133</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>134</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>135</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>136</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>137</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>138</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>139</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>140</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>141</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>142</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>143</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>144</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>145</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>146</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>147</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>148</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>149</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>150</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>151</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>152</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>153</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>154</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>155</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>156</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>157</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>158</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>159</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>160</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>161</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>162</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>163</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>164</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>165</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>166</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>167</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>168</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>169</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>170</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>171</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>172</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>173</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>174</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>175</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>176</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>177</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>178</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>179</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>180</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>181</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>182</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>183</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>184</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>185</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>186</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>187</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>188</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>189</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>190</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>191</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>192</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>193</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>194</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>195</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>196</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>197</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>198</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>199</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>200</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>201</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>202</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>203</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>204</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>205</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>206</th>
      <td>unknown99</td>
      <td>no</td>
    </tr>
    <tr>
      <th>207</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>208</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>209</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>210</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>211</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>212</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>213</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>214</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>215</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>216</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>217</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>218</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>219</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>220</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>221</th>
      <td>DayShreyas</td>
      <td>yes</td>
    </tr>
  </tbody>
</table>